* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    padding: 20px;
    align-items: baseline;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

#colorName {
    background-color: rgba(87, 8, 8, 0.6);
    padding: 20px;
    font-size: 50px;
}


#btn {
    margin-top: 20px;
    color: black;
    background-color: rgba(45, 345, 234, 5);
    font-size: 20px;
    outline: none;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}